[submodule "bash/oh-my-bash"]
	path = bash/oh-my-bash
	url = https://github.com/mqcmd196/oh-my-bash.git
	branch = prompt_feature
[submodule "bash/fonts"]
	path = bash/fonts
	url = https://github.com/powerline/fonts
