# Copy light version of emacs config
- name: Create symbolic link for light version of Emacs config
  file:
    src: "{{ role_path }}/../../non-sudoer/emacs.el"
    dest: "{{ ansible_env.HOME }}/.emacs-light.el"
    state: link

- name: Create user tmp directory for saving backup
  file:
    path: "{{ ansible_env.HOME }}/tmp"
    state: directory
    recurse: yes

# Install system emacs for light version of emacs
- name: Install system emacs
  apt:
    name: emacs
    state: present
  become: yes

- name: Install common packages for system emacs
  apt:
    name: ['black', 'clangd', 'clang-format', 'clang-tidy','cmake-format', 'elpa-anzu', 'elpa-cmake-mode', 'elpa-company', 'elpa-diff-hl', 'elpa-diminish', 'elpa-dockerfile-mode', 'elpa-doom-themes', 'elpa-eglot', 'elpa-find-file-in-project', 'elpa-format-all', 'elpa-helm', 'elpa-helm-ag', 'elpa-hl-todo', 'elpa-ligature', 'elpa-magit', 'elpa-markdown-mode', 'elpa-migemo', 'elpa-powerline', 'elpa-py-isort', 'elpa-rust-mode', 'elpa-use-package', 'elpa-vterm', 'elpa-which-key', 'elpa-yaml-mode', 'elpa-yasnippet', 'emacs-mozc', 'isort', 'npm', 'python3-debugpy', 'python3-pylsp', 'python3-pylsp-black', 'shellcheck', 'shfmt', 'tidy', 'wl-clipboard']
  become: yes

- name: Create emacs config directory
  file:
    path: "{{ ansible_env.HOME }}/.config/emacs"
    state: directory
    recurse: yes

- name: Create symbolic link for Emacs config
  file:
    src: "{{ role_path }}/config/init.el"
    dest: "{{ ansible_env.HOME }}/.config/emacs/init.el"
    state: link
    force: yes

- name: Create symbolic link for Emacs snippets
  file:
    src: "{{ role_path }}/config/snippets"
    dest: "{{ ansible_env.HOME }}/.config/emacs/snippets"
    state: link
    force: yes
