# Install packages with apt
- name: Install convenient apt packages
  apt:
    name: ['attr', 'autoconf', 'bat', 'command-not-found', 'dnsutils', 'expect', 'gdb', 'git-lfs', 'gnome-sushi', 'grc', 'htop', 'ipython3', 'jq', 'kcachegrind', 'lsb-release', 'massif-visualizer', 'net-tools', 'ninja-build', 'nmap', 'pandoc', 'peco', 'pipx', 'python3-ipython', 'python3-venv', 'quilt', 'rlwrap', 'rustup', 'tig', 'tmux', 'traceroute', 'util-linux', 'valgrind', 'xsel', 'zsh']
    state: present
  become: yes

- name: Install fonts
  block:
  - name: Ensure font directory exists
    file:
      path: "{{ ansible_env.HOME }}/.local/share/fonts"
      state: directory
  - name: Download and install CascadiaCode
    unarchive:
      src: https://github.com/microsoft/cascadia-code/releases/download/v2404.23/CascadiaCode-2404.23.zip
      dest: "{{ ansible_env.HOME }}/.local/share/fonts"
      remote_src: yes
  - name: Download and install MorisawaBizUDGothic
    unarchive:
      src: https://github.com/googlefonts/morisawa-biz-ud-gothic/releases/download/v1.051/morisawa-biz-ud-gothic-fonts.zip
      dest: "{{ ansible_env.HOME }}/.local/share/fonts"
      remote_src: yes

- name: Ensure keyrings directory exists
  become: true
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Install 3rdparty GUI repositories
  become: true
  when: not ('WSLENV' in ansible_env)
  block:
    - name: Download Google Chrome GPG Key
      get_url:
        url: https://dl.google.com/linux/linux_signing_key.pub
        dest: /etc/apt/keyrings/google-chrome.asc
        mode: '0644'
    - name: Add Google Chrome repository
      deb822_repository:
        name: google-chrome
        types: deb
        uris: http://dl.google.com/linux/chrome/deb/
        suites: stable
        components: main
        signed_by: /etc/apt/keyrings/google-chrome.asc
    - name: Install Google Chrome
      apt:
        name: google-chrome-stable
        state: present
        update_cache: yes

    - name: Download Microsoft GPG Key
      get_url:
        url: https://packages.microsoft.com/keys/microsoft.asc
        dest: /etc/apt/keyrings/microsoft.asc
        mode: '0644'
    - name: Add VS Code repository
      deb822_repository:
        name: vscode
        types: deb
        uris: https://packages.microsoft.com/repos/code
        suites: stable
        components: main
        signed_by: /etc/apt/keyrings/microsoft.asc
    - name: Install VSCode
      apt:
        name: code
        state: present
        update_cache: yes

- name: Install Docker
  become: true
  when: not (ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version'] != "14")
  block:
    - name: Download Docker GPG Key
      get_url:
        url: https://download.docker.com/linux/{{ ansible_distribution|lower }}/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'
    - name: Add Docker repository
      deb822_repository:
        name: docker
        types: deb
        uris: https://download.docker.com/linux/{{ ansible_distribution|lower }}
        suites: "{{ ansible_distribution_release }}"
        components: stable
        signed_by: /etc/apt/keyrings/docker.asc
    - name: Install Docker
      apt:
        name: ['docker-ce', 'docker-ce-cli', 'containerd.io', 'docker-buildx-plugin', 'docker-compose-plugin']
        state: present
        update_cache: yes

- name: Install GitHub CLI
  become: true
  block:
    - name: Download GitHub CLI GPG Key
      get_url:
        url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
        dest: /etc/apt/keyrings/githubcli-archive-keyring.gpg
        mode: '0644'
    - name: Add GitHub CLI repository
      deb822_repository:
        name: github-cli
        types: deb
        uris: https://cli.github.com/packages
        suites: stable
        components: main
        signed_by: /etc/apt/keyrings/githubcli-archive-keyring.gpg
    - name: Install GitHub CLI
      apt:
        name: gh
        update_cache: yes
        state: present
    - name: Add gh zsh completion
      shell: gh completion -s zsh > /usr/local/share/zsh/site-functions/_gh

# Setup configs
- name: Create symbolic link for bashrc
  file:
    src: "{{ role_path }}/../../non-sudoer/rc.bash"
    dest: "{{ ansible_env.HOME }}/.bashrc"
    state: link
    force: true

- name: Create symbolic link for tmux config
  file:
    src: "{{ role_path }}/tmux/tmux.conf"
    dest: "{{ ansible_env.HOME }}/.tmux.conf"
    state: link

- name: Create symbolic link for docker config
  file:
    src: "{{ role_path }}/docker"
    dest: "{{ ansible_env.HOME }}/.docker"
    state: link

- name: Create ~/.config/git for creating git config
  file:
    path: "{{ ansible_env.HOME }}/.config/git"
    state: directory
    recurse: yes

- name: Create symbolic link for git ignore
  file:
    src: "{{ role_path }}/git/gitignore_global"
    dest: "{{ ansible_env.HOME }}/.config/git/ignore"
    state: link

- name: Create symbolic link for git config
  file:
    src: "{{ role_path }}/git/config"
    dest: "{{ ansible_env.HOME }}/.config/git/config"
    state: link

- name: Create ~/.config/peco for creating peco config
  file:
    path: "{{ ansible_env.HOME }}/.config/peco"
    state: directory
    recurse: yes

- name: Create symbolic link for peco config
  file:
    src: "{{ role_path }}/peco/config.json"
    dest: "{{ ansible_env.HOME }}/.config/peco/config.json"
    state: link

- name: Create symbolic link for gdb-dashboard
  file:
    src: "{{ role_path }}/gdb/gdb-dashboard/.gdbinit"
    dest: "{{ ansible_env.HOME }}/.gdbinit"
    state: link

- name: Setup Miniconda
  block:
    - name: Download Miniconda shell script
      get_url:
        url: https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
        dest: "{{ ansible_env.HOME }}/miniconda.sh"
    - name: Install Miniconda
      shell: /usr/bin/env sh ./miniconda.sh -b -u
      args:
        chdir: "{{ ansible_env.HOME }}"

- name: Create symbolic link for condarc
  file:
    src: "{{ role_path }}/conda/condarc"
    dest: "{{ ansible_env.HOME }}/.condarc"
    state: link

- name: Create symbolic link for wsl.conf
  file:
    src: "{{ role_path }}/wsl/wsl.conf"
    dest: "/etc/wsl.conf"
    state: link
    force: yes
  become: yes

- name: Setup nvm, nodejs
  block:
    - name: Git clone NVM
      git:
        repo: https://github.com/nvm-sh/nvm
        dest: "{{ ansible_env.HOME }}/.nvm"
        depth: 1
        version: v0.39.7
