- name: Install prerequisites apt packages
  apt:
    name: ['python3-debian', 'python3-pip', 'python3-setuptools', 'gnupg', 'zip']
    state: present
  become: yes

- name: Add Additional Debian repo in testing
  become: true
  when: ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_release'] == "forky"
  block:
    - name: Add Debian unstable deb822 repo (separate .sources file)
      deb822_repository:
        name: debian-unstable
        types: deb
        uris: "http://ftp.udx.icscoe.jp/Linux/debian"
        suites: unstable
        components: [main, contrib, non-free, non-free-firmware]
        signed_by: /usr/share/keyrings/debian-archive-keyring.gpg
        state: present
    - name: Add apt pinning for testing/unstable
      ansible.builtin.copy:
        dest: /etc/apt/preferences.d/00-testing-unstable
        owner: root
        group: root
        mode: "0644"
        content: |
          Package: *
          Pin: release a=testing
          Pin-Priority: 900

          Package: *
          Pin: release a=unstable
          Pin-Priority: 100

- name: Add Additional Debian repo in trixie
  become: true
  when: ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version'] == "13"
  block:
    - name: Add Debian unstable deb822 repo (separate .sources file)
      deb822_repository:
        name: debian-testing
        types: deb
        uris: "http://ftp.udx.icscoe.jp/Linux/debian"
        suites: testing
        components: [main, contrib, non-free, non-free-firmware]
        signed_by: /usr/share/keyrings/debian-archive-keyring.gpg
        state: present
    - name: Add apt pinning for testing/unstable
      ansible.builtin.copy:
        dest: /etc/apt/preferences.d/00-trixie-testing
        owner: root
        group: root
        mode: "0644"
        content: |
          Package: *
          Pin: release a=trixie
          Pin-Priority: 900

          Package: *
          Pin: release a=testing
          Pin-Priority: 100

- name: Install apt packages
  apt:
    name: ['attr', 'autoconf', 'bat', 'black', 'clang-format', 'clang-tidy', 'clangd', 'cmake-format', 'command-not-found', 'dbus-x11', 'dconf-cli', 'dnsutils', 'elpa-anzu', 'elpa-cmake-mode', 'elpa-company', 'elpa-corfu', 'elpa-diff-hl', 'elpa-diminish', 'elpa-dockerfile-mode', 'elpa-doom-themes', 'elpa-eglot', 'elpa-find-file-in-project', 'elpa-format-all', 'elpa-helm', 'elpa-helm-ag', 'elpa-hl-todo', 'elpa-ligature', 'elpa-magit', 'elpa-markdown-mode', 'elpa-migemo', 'elpa-powerline', 'elpa-py-isort', 'elpa-rust-mode', 'elpa-use-package', 'elpa-vterm', 'elpa-which-key', 'elpa-yaml-mode', 'elpa-yasnippet', 'emacs', 'emacs-mozc', 'expect', 'fonts-powerline', 'gdb', 'git-lfs', 'gnome-sushi', 'grc', 'htop', 'ipython3', 'isort', 'jq', 'kcachegrind', 'lsb-release', 'massif-visualizer', 'net-tools', 'ninja-build', 'nmap', 'npm', 'pandoc', 'peco', 'pipx', 'python3-debugpy', 'python3-ipython', 'python3-pylsp', 'python3-pylsp-black', 'python3-venv', 'quilt', 'rlwrap', 'rustup', 'shellcheck', 'shfmt', 'tig', 'tidy', 'tmux', 'traceroute', 'util-linux', 'valgrind', 'wl-clipboard', 'xsel', 'zsh', 'zsh-autosuggestions', 'zsh-syntax-highlighting']
    state: present
  become: yes

- name: Ensure keyrings directory exists
  become: true
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Install 3rdparty GUI repositories
  become: true
  when: not ('WSLENV' in ansible_env)
  block:
    - name: Download Google Chrome GPG Key
      get_url:
        url: https://dl.google.com/linux/linux_signing_key.pub
        dest: /etc/apt/keyrings/google-chrome.asc
        mode: '0644'
    - name: Add Google Chrome repository
      deb822_repository:
        name: google-chrome
        types: deb
        uris: http://dl.google.com/linux/chrome/deb/
        suites: stable
        components: main
        signed_by: /etc/apt/keyrings/google-chrome.asc
    - name: Download Microsoft GPG Key
      get_url:
        url: https://packages.microsoft.com/keys/microsoft.asc
        dest: /etc/apt/keyrings/microsoft.asc
        mode: '0644'
    - name: Add VS Code repository
      deb822_repository:
        name: vscode
        types: deb
        uris: https://packages.microsoft.com/repos/code
        suites: stable
        components: main
        signed_by: /etc/apt/keyrings/microsoft.asc
    - name: Install 3rdparty GUI packages
      apt:
        name: ['code', 'google-chrome-stable']
        state: present
        update_cache: yes

- name: Install Docker
  become: true
  when: not (ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version'] != "14")
  block:
    - name: Download Docker GPG Key
      get_url:
        url: https://download.docker.com/linux/{{ ansible_distribution|lower }}/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'
    - name: Add Docker repository
      deb822_repository:
        name: docker
        types: deb
        uris: https://download.docker.com/linux/{{ ansible_distribution|lower }}
        suites: "{{ ansible_distribution_release }}"
        components: stable
        signed_by: /etc/apt/keyrings/docker.asc
    - name: Install Docker
      apt:
        name: ['docker-ce', 'docker-ce-cli', 'containerd.io', 'docker-buildx-plugin', 'docker-compose-plugin']
        state: present
        update_cache: yes

- name: Install GitHub CLI
  become: true
  block:
    - name: Download GitHub CLI GPG Key
      get_url:
        url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
        dest: /etc/apt/keyrings/githubcli-archive-keyring.gpg
        mode: '0644'
    - name: Add GitHub CLI repository
      deb822_repository:
        name: github-cli
        types: deb
        uris: https://cli.github.com/packages
        suites: stable
        components: main
        signed_by: /etc/apt/keyrings/githubcli-archive-keyring.gpg
    - name: Install GitHub CLI
      apt:
        name: gh
        update_cache: yes
        state: present
    - name: Add gh zsh completion
      shell: gh completion -s zsh > /usr/local/share/zsh/site-functions/_gh

- name: Setup configs
  block:
    - name: Create symbolic link for bashrc
      file:
        src: "{{ role_path }}/../../non-sudoer/rc.bash"
        dest: "{{ ansible_env.HOME }}/.bashrc"
        state: link
        force: true
    - name: Create symbolic link for tmux config
      file:
        src: "{{ role_path }}/tmux/tmux.conf"
        dest: "{{ ansible_env.HOME }}/.tmux.conf"
        state: link
    - name: Create symbolic link for docker config
      file:
        src: "{{ role_path }}/docker"
        dest: "{{ ansible_env.HOME }}/.docker"
        state: link
    - name: Create ~/.config/git for creating git config
      file:
        path: "{{ ansible_env.HOME }}/.config/git"
        state: directory
        recurse: yes
    - name: Create symbolic link for git ignore
      file:
        src: "{{ role_path }}/git/gitignore_global"
        dest: "{{ ansible_env.HOME }}/.config/git/ignore"
        state: link
    - name: Create symbolic link for git config
      file:
        src: "{{ role_path }}/git/config"
        dest: "{{ ansible_env.HOME }}/.config/git/config"
        state: link
    - name: Create ~/.config/peco for creating peco config
      file:
        path: "{{ ansible_env.HOME }}/.config/peco"
        state: directory
        recurse: yes
    - name: Create symbolic link for peco config
      file:
        src: "{{ role_path }}/peco/config.json"
        dest: "{{ ansible_env.HOME }}/.config/peco/config.json"
        state: link
    - name: Create symbolic link for gdb-dashboard
      file:
        src: "{{ role_path }}/gdb/gdb-dashboard/.gdbinit"
        dest: "{{ ansible_env.HOME }}/.gdbinit"
        state: link
    - name: Create symbolic link for condarc
      file:
        src: "{{ role_path }}/conda/condarc"
        dest: "{{ ansible_env.HOME }}/.condarc"
        state: link
    - name: Create symbolic link for light version of Emacs config
      file:
        src: "{{ role_path }}/../../non-sudoer/emacs.el"
        dest: "{{ ansible_env.HOME }}/.emacs-light.el"
        state: link
    - name: Create user tmp directory for saving backup
      file:
        path: "{{ ansible_env.HOME }}/tmp"
        state: directory
        recurse: yes
    - name: Create emacs config directory
      file:
        path: "{{ ansible_env.HOME }}/.config/emacs"
        state: directory
        recurse: yes
    - name: Create symbolic link for Emacs config
      file:
        src: "{{ role_path }}/emacs/init.el"
        dest: "{{ ansible_env.HOME }}/.config/emacs/init.el"
        state: link
        force: yes
    - name: Create symbolic link for Emacs snippets
      file:
        src: "{{ role_path }}/emacs/snippets"
        dest: "{{ ansible_env.HOME }}/.config/emacs/snippets"
        state: link
        force: yes
    - name: Create symbolic link for .zprofile
      file:
        src: "{{ ansible_env.HOME }}/.profile"
        dest: "{{ ansible_env.HOME }}/.zprofile"
        state: link
    - name: Create directory for zsh configs
      file:
        path: "{{ ansible_env.HOME }}/.zsh.d"
        state: directory
    - name: Create symbolic link for zsh alias config
      file:
        src: "{{ role_path }}/zsh/alias.zsh"
        dest: "{{ ansible_env.HOME }}/.zsh.d/alias.zsh"
        state: link
    - name: Create symbolic link for ros zsh config
      file:
        src: "{{ role_path }}/zsh/ros.zsh"
        dest: "{{ ansible_env.HOME }}/.zsh.d/ros.zsh"
        state: link
    - name: Create symbolic link for grc config
      file:
        src: "{{ role_path }}/zsh/grc.zsh"
        dest: "{{ ansible_env.HOME }}/.zsh.d/grc.zsh"
        state: link
        force: yes
    - name: Create .zshrc symbolic link
      file:
        src: "{{ role_path }}/zsh/rc.zsh"
        dest: "{{ ansible_env.HOME }}/.zshrc"
        state: link
        force: yes
    - name: Create .p10k.zsh symbolic link
      file:
        src: "{{ role_path }}/zsh/p10k.zsh"
        dest: "{{ ansible_env.HOME }}/.p10k.zsh"
        state: link
        force: yes
    - name: Create ~/.config/bat directory
      file:
        path: "{{ ansible_env.HOME }}/.config/bat"
        state: directory
        recurse: yes
    - name: Create batcat config symbolic link
      file:
        src: "{{ role_path }}/zsh/bat.conf"
        dest: "{{ ansible_env.HOME }}/.config/bat/config"
        state: link
        force: yes

- name: Create symbolic link for wsl.conf
  file:
    src: "{{ role_path }}/wsl/wsl.conf"
    dest: "/etc/wsl.conf"
    state: link
    force: yes
  become: yes

- name: Install fonts
  block:
  - name: Ensure font directory exists
    file:
      path: "{{ ansible_env.HOME }}/.local/share/fonts"
      state: directory
  - name: Download and install CascadiaCode
    unarchive:
      src: https://github.com/microsoft/cascadia-code/releases/download/v2404.23/CascadiaCode-2404.23.zip
      dest: "{{ ansible_env.HOME }}/.local/share/fonts"
      remote_src: yes
  - name: Download and install MorisawaBizUDGothic
    unarchive:
      src: https://github.com/googlefonts/morisawa-biz-ud-gothic/releases/download/v1.051/morisawa-biz-ud-gothic-fonts.zip
      dest: "{{ ansible_env.HOME }}/.local/share/fonts"
      remote_src: yes
  - name: Update font cache
    shell:
      cmd: fc-cache -v

- name: Setup zsh plugins
  block:
    - name: Git clone Powerlevel10k
      git:
        repo: https://github.com/romkatv/powerlevel10k.git
        dest: "{{ ansible_env.HOME }}/.powerlevel10k"
        version: v1.19.0
    - name: Git clone conda-zsh-completion
      git:
        repo: https://github.com/conda-incubator/conda-zsh-completion
        dest: "{{ ansible_env.HOME }}/.conda-zsh-completion"
        version: v0.10
    - name: Git clone zsh-completions
      git:
        repo: https://github.com/zsh-users/zsh-completions
        dest: "{{ ansible_env.HOME }}/.zsh-completions"
        version: 83f09c461535e2372242c6282b66dbbbef6d508a

- name: Change gnome terminal settings
  shell:
    cmd: "dbus-launch dconf load /org/gnome/terminal/legacy/profiles:/ < {{ role_path }}/zsh/gnome-terminal-profiles.dconf"

- name: Setup Miniconda
  block:
    - name: Download Miniconda shell script
      get_url:
        url: https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
        dest: "{{ ansible_env.HOME }}/miniconda.sh"
    - name: Install Miniconda
      shell: /usr/bin/env sh ./miniconda.sh -b -u
      args:
        chdir: "{{ ansible_env.HOME }}"

- name: Setup nvm, nodejs
  block:
    - name: Git clone NVM
      git:
        repo: https://github.com/nvm-sh/nvm
        dest: "{{ ansible_env.HOME }}/.nvm"
        depth: 1
        version: v0.39.7
