name: sudoer
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: test
    continue-on-error: true
    strategy:
      matrix:
        include:
          - OS: debian
            CODENAME: trixie
          - OS: debian
            CODENAME: testing
          - OS: ubuntu
            CODENAME: noble
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: jlumbroso/free-disk-space@main
        with:
            tool-cache: false
            docker-images: false
      - run: docker build -f ./tests/docker/${{ matrix.OS }}-${{ matrix.CODENAME }}.Dockerfile .
